@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgba(128, 128, 128, 0.200);
}

header {
    text-align: center;
    background-color: white;
    padding: 20px;
}

header > h1 {
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size:3em;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.368);
}


nav{
    background-color: rgba(0, 0, 0, 0.772);
    padding: 10px;
    display: flex;
    flex-direction: row;
    font-family: 'Kanit', sans-serif;
    cursor: pointer;
}

span#burguer {
  background-color: #5555551f;
  display: block;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

span#burguer:hover{
  background-color: rgba(128, 128, 128, 0.523);
  color: black;
}

@media screen and (max-width: 760px){
  

    nav{
        flex-direction: column;
        margin: auto;
    }

    
}
nav > a {
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 10px;
    transition-duration: 0.5s;
}

nav > a:hover{
    background-color: red;
    padding-right: 10px;
    padding-left: 10px;
}


main {
    text-align: center;
    padding: 20px;
  }
  
main > a > img {
  width: 40px;
  height: 40px;
  float: right;
  background-color: rgba(0, 0, 0, 0.772);
  border-radius: 30%;
}

.login-form {
  font-family: 'Kanit', sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 20px;
}

.login-form h1 {
  color: #333;
  text-align: center;
}

.login-form form {
  max-width: 300px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.login-form label {
  display: block;
  margin-bottom: 10px;
  color: #555;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.login-form input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.login-form input[type="submit"]:hover {
  background-color: #333;
}
.login-form input[type="submit"]:disabled {
  background-color: #aaa;
}

  h1 {
    font-size: 34px;
    padding-bottom: 10px;
    font-family: 'Kanit', sans-serif;
    font-weight: normal;
  }

  h2{
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    }
  
  .anime-list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .anime-item {
    text-align: left;
  }
  
  .anime-item a {
    text-decoration: none;
    color: #333;
  }
  
  .anime-item img {
    width: 100%;
    height: auto;
  }
  
  .anime-item h2 {
    margin-top: 10px;
    font-size: 18px;
  }
  
  .links:hover{
    color: red;
    text-decoration: underline;
  }

  .image-zoom {
    overflow: hidden;
  }
  
  .image-zoom img {
    transition: transform 0.3s;
  }
  
  .image-zoom:hover img {
    transform: scale(1.2);
  }
  
  footer > p {
    font-family: 'Kanit', sans-serif;
    text-align: center;
  }